@{
    ViewBag.Title = "About";
}

<style>
    @@media (min-width: 1200px) {
        .sec-subtitle-style1 {
            font-size: 22px;
            width: 298px;
        }
    }
</style>

    <div class="container body-content">
        <!--==============================
        Breadcumb
    ============================== -->
        <div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit space mx-100" data-vs-img="../Content/assets/img/products/8F7A9058.jpg" style="        box-shadow: inset 0 0 0 1989px rgb(249, 163, 146, 0.15);" data-opacity="3">
            <div class="container z-index-common py-10">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title sec-title-style1 text-white mt-0 mb-2">About Us</h1>
                    <ul class="breadcumb-menu-style1 text-white">
                        <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!--==============================
        About Area
    ==============================-->
        <section class="vs-about-wrapper vs-about-layout6 space">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-6 align-self-end  wow fadeInUp" data-wow-delay="0.4s">
                        <div class="about-image-box5 position-relative text-center z-index-common">
                            <span class="ripple d-none d-md-inline-block"></span>
                            <img src="~/Content/assets/img/products/aboutT.png" alt="About Image">
                        </div>
                    </div>

                    <div class="col-md-11 col-lg-6 align-self-center py-30 py-lg-0  wow fadeInUp" data-wow-delay="0.3s">
                        <div class="about-content-box1 text-center ">
                            <p class="mb-30">We Make <span class="inner-label">Products</span> that suits your image</p>
                            <h2 class="sec-title-style1">Learn More <span class="sec-subtitle-style1">About Us</span></h2>
                            <p class="text-font2 text-20">In Ecoporté we go above and beyond, providing you with the highest quality products that sets your brand apart and enhances your customers’ experience to the top level.</p>
                            <p class="text-font2 text-20">Throughout the years we’ve been Marketing leading products that feel as good as they look. We provide a variety a full range of wellbeing amenities that are bespoke for hotels, spas and clinics’ needs.</p>
                           
                            <a href="service.html" class="vs-btn wave-style1">Our Services<i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>


                </div>
               
            </div>
        </section>
        <!--==============================
        About Features Area
    ==============================-->
        <section class="vs-about-wrapper  ">
            <div class="container-fluid px-0">
                <div class="row no-gutters">
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="vs-about-layout7 d-xl-flex flex-column no-gutters pt-70">
                            <div class="about-image-box6">
                                <img src="~/Content/assets/img/products/1.jpg" alt="About Image" class="w-100">
                            </div>
                            <div class="about-content-box5 h-100 w-100 d-flex align-items-center px-2 px-4 px-xl-5 space  bg-fluid" style="border-bottom-left-radius:25px; background: #95b2a0 url(../Content/assets/img/shape/bamboo-bg.svg) no-repeat right 30px bottom;
    " >
                                <div>
                                    <p class="mb-30 text-white">Your <span class="inner-label">-Offer</span> is Right Here</p>
                                    <h2 class="sec-title-style1 text-white">Ecological mindset<span class="sec-subtitle-style1">A company with an²</span></h2>
                                    <p class="text-font2 text-20 text-white mb-25">
                                        In Ecoporté we believe not only in people’s wellbeing and comfort but also in
                                        nature and its sustainability.
                                    </p>
                                    <div class="text-box1 py-0 d-block d-md-flex align-items-center">
                                        
                                        <div class="media-body">
                                            <p class="mb-0 text-white">
                                                Our core values reside in resource-saving practices where we offer relatively
                                                recyclable products according to customers’ needs.
                                            </p>
                                        </div>
                                    </div>
                                    <p class="mb-0 text-white">We highly promote the use of 100% recyclable products in order to reduce the use of virgin
materials and prevent old footwear from becoming environmental waste.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="vs-about-layout7 d-xl-flex flex-column no-gutters">
                            <div class="about-image-box6 order-2">
                                <img src="~/Content/assets/img/products/2.jpg" alt="About Image" class="w-100">
                            </div>
                            <div class="about-content-box5 h-100 w-100 d-flex align-items-center px-2 px-4 px-xl-5 space background-image bg-fluid" data-vs-img="../Content/assets/img/shape/about-bg-patten-1.png">
                                <div>
                                    <p class="mb-30 text-white">Your <span class="inner-label">Best Price</span> is Right Here</p>
                                    <h2 class="sec-title-style1 text-white">Quality assured <span class="sec-subtitle-style1">Plan</span></h2>
                                    <p class="text-font2 text-20 text-white mb-25">Ecoporté is a leading manufacturer of a wide range of products that not only are
of top quality but also practical and robust.</p>
                                    <div class="text-box1 py-0 d-block d-md-flex align-items-center">
                                        
                                        <div class="media-body">
                                            <p class="mb-0 text-white">
                                                Your demands matter to us and rest assured, they are carefully cared for by our
                                                production team in terms of finish and attention to detail.
                                            </p>
                                        </div>
                                    </div>
                                    <p class="mb-0 text-white">
                                        We have been operating in this field for over than (4) years and have succeeded
                                        to leave a quality imprint on the most luxurious hotels of the country.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

 