@{
    ViewBag.Title = "About";
}
    <div class="container body-content">
        <!--==============================
        Breadcumb
    ============================== -->
        <div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit space mx-100" data-vs-img="../Content/assets/img/products/8F7A9058.jpg" style="        box-shadow: inset 0 0 0 1989px rgb(249, 163, 146, 0.15);" data-opacity="3">
            <div class="container z-index-common py-10">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title sec-title-style1 text-white mt-0 mb-2">About Us</h1>
                    <ul class="breadcumb-menu-style1 text-white">
                        <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--==============================
        About Area
    ==============================-->
        <section class="vs-about-wrapper vs-about-layout6 space">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-6 align-self-end  wow fadeInUp" data-wow-delay="0.4s">
                        <div class="about-image-box5 position-relative text-center z-index-common">
                            <span class="ripple d-none d-md-inline-block"></span>
                            <img src="~/Content/assets/img/about/about-img-5-1.png" alt="About Image">
                        </div>
                    </div>
                    <div class="col-md-11 col-lg-6 align-self-center py-30 py-lg-0  wow fadeInUp" data-wow-delay="0.3s">
                        <div class="about-content-box1 text-center ">
                            <p class="mb-30">We Have <span class="inner-label">4 Years</span> Of Experience</p>
                            <h2 class="sec-title-style1">Learn More <span class="sec-subtitle-style1">About <br> Us</span></h2>
                            <p class="text-font2 text-20">
                                Ecoporté is a leading manufacturer of a wide range of products that not only are
                                of top quality but also practical and robust.
                                Your demands matter to us and rest assured, they are carefully cared for by our
                                production team in terms of finish and attention to detail.
                                We have been operating in this field for over than (4) years and have succeeded
                                to leave a quality imprint on the most luxurious hotels of the country.
                            </p>
                            <div class="row gutters-20 justify-content-center justify-content-xl-end pb-4">
                                <div class="col-sm-4 col-md-3 col-lg-4 text-center text-sm-right mb-10 mb-sm-0">
                                    <img src="~/Content/assets/img/about/signature.png" alt="Author Signature">
                                </div>
                                <div class="col-sm-7 col-md-6 col-lg-8 col-xl-7">
                                    <div class="author-box1 d-sm-flex">
                                        <div class="author-img mb-15 mb-sm-0 mr-20">
                                            <img src="~/Content/assets/img/testimonial/testil-author-1-2.png" alt="Author Image">
                                        </div>
                                        <div class="author-content text-center text-sm-left align-self-center">
                                            <h3 class="author-name h5 mb-0">Rosalina D. William</h3>
                                            <strong class="author-degi text-theme">Founder & Beautician</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!--==============================
        About Features Area
    ==============================-->
        <section class="vs-about-wrapper  ">
            <div class="container-fluid px-0">
                <div class="row no-gutters">
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="vs-about-layout7 d-xl-flex flex-column no-gutters pt-70">
                            <div class="about-image-box6">
                                <img src="assets/img/about/about-img-5-1.jpg" alt="About Image" class="w-100">
                            </div>
                            <div class="about-content-box5 h-100 w-100 d-flex align-items-center px-2 px-4 px-xl-5 space background-image bg-fluid" data-vs-img="assets/img/shape/about-bg-patten-2.png">
                                <div>
                                    <p class="mb-30 text-white">Your <span class="inner-label">-50% Offer</span> is Right Here</p>
                                    <h2 class="sec-title-style1 text-white">Intro Video <span class="sec-subtitle-style1">Explore Studio</span></h2>
                                    <p class="text-font2 text-20 text-white mb-25">Our fitness centre is one of the best in London and is equipped with the latest cutting edge equipment.</p>
                                    <div class="text-box1 py-0 d-block d-md-flex align-items-center">
                                        <div class="media-img mb-20 mb-md-0 mr-md-4">
                                            <img src="assets/img/about/about-img-2-3.jpg" alt="Thumb Image">
                                        </div>
                                        <div class="media-body">
                                            <p class="mb-0 text-white">A range of different massage techniques, reflexology, body scrubs and facial are available on-site which will help you unwind, relax.</p>
                                        </div>
                                    </div>
                                    <p class="mb-0 text-white">As part of a new partnership with Sensync, an immersive wellness company ounded by Adam Gazzaley, Ph.D., and Alex Theory, Ph.D., The Vessel helps guests reset their brains with a host of customized journeys: Deep Space, Kairos, Ocean Cove, Zen Garden, Quantum Oneness, Crystal Cave</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="vs-about-layout7 d-xl-flex flex-column no-gutters">
                            <div class="about-image-box6 order-2">
                                <img src="assets/img/about/about-img-5-2.jpg" alt="About Image" class="w-100">
                            </div>
                            <div class="about-content-box5 h-100 w-100 d-flex align-items-center px-2 px-4 px-xl-5 space background-image bg-fluid" data-vs-img="assets/img/shape/about-bg-patten-1.png">
                                <div>
                                    <p class="mb-30 text-white">Your <span class="inner-label">Best Price</span> is Right Here</p>
                                    <h2 class="sec-title-style1 text-white">Check Some <span class="sec-subtitle-style1">Price Plans</span></h2>
                                    <p class="text-font2 text-20 text-white mb-25">Our fitness centre is one of the best in London and is equipped with the latest cutting edge equipment.</p>
                                    <div class="text-box1 py-0 d-block d-md-flex align-items-center">
                                        <div class="media-img mb-20 mb-md-0 mr-md-4">
                                            <img src="assets/img/about/about-img-2-2.jpg" alt="Thumb Image">
                                        </div>
                                        <div class="media-body">
                                            <p class="mb-0 text-white">A range of different massage techniques, reflexology, body scrubs and facial are available on-site which will help you unwind, relax.</p>
                                        </div>
                                    </div>
                                    <p class="mb-0 text-white">As part of a new partnership with Sensync, an immersive wellness company ounded by Adam Gazzaley, Ph.D., and Alex Theory, Ph.D., The Vessel helps guests reset their brains with a host of customized journeys: Deep Space, Kairos, Ocean Cove, Zen Garden, Quantum Oneness, Crystal Cave</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>