@{
    ViewBag.Title = "About";
}
<div class="container body-content">
    <!--==============================
        Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit space mx-100" data-vs-img="../Content/assets/img/products/8F7A9058.jpg" style="box-shadow: inset 0 0 0 1989px rgb(255 0 150 / 24%);" data-opacity="3">
        <div class="container z-index-common py-10">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title sec-title-style1 text-white mt-0 mb-2">About Us</h1>
                <ul class="breadcumb-menu-style1 text-white">
                    <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
        About Area
    ==============================-->
    <section class="vs-about-wrapper vs-about-layout6 space">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6 align-self-end  wow fadeInUp" data-wow-delay="0.4s">
                    <div class="about-image-box5 position-relative text-center z-index-common">
                        <span class="ripple d-none d-md-inline-block"></span>
                        <img src="~/Content/assets/img/about/about-img-5-1.png" alt="About Image">
                    </div>
                </div>
                <div class="col-md-11 col-lg-6 align-self-center py-30 py-lg-0  wow fadeInUp" data-wow-delay="0.3s">
                    <div class="about-content-box1 text-center ">
                        <p class="mb-30">We Have <span class="inner-label">25 Years</span> Of Experience</p>
                        <h2 class="sec-title-style1">Learn More <span class="sec-subtitle-style1">About <br> Us</span></h2>
                        <p class="text-font2 text-20">Our fitness centre is one of the best in London and is equipped with the latest cutting edge equipment.</p>
                        <div class="row gutters-20 justify-content-center justify-content-xl-end pb-4">
                            <div class="col-sm-4 col-md-3 col-lg-4 text-center text-sm-right mb-10 mb-sm-0">
                                <img src="~/Content/assets/img/about/signature.png" alt="Author Signature">
                            </div>
                            <div class="col-sm-7 col-md-6 col-lg-8 col-xl-7">
                                <div class="author-box1 d-sm-flex">
                                    <div class="author-img mb-15 mb-sm-0 mr-20">
                                        <img src="~/Content/assets/img/testimonial/testil-author-1-2.png" alt="Author Image">
                                    </div>
                                    <div class="author-content text-center text-sm-left align-self-center">
                                        <h3 class="author-name h5 mb-0">Rosalina D. William</h3>
                                        <strong class="author-degi text-theme">Founder & Beautician</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="service.html" class="vs-btn wave-style1">Our Services<i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </section>


    </div>