
@{
    ViewBag.Title = "Blog";
}

<!--==============================
    Breadcumb
============================== -->
    <div class="container body-content">
        <div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit space mx-100" data-vs-img="../Content/assets/img/products/blog.jpg" data-overlay="black" style="        box-shadow: inset 0 0 0 1989px rgb(249, 163, 146, 0.15);" data-opacity="3">
            <div class="container z-index-common py-10">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title sec-title-style1 text-white mt-0 mb-2">News Feeds</h1>
                    <ul class="breadcumb-menu-style1 text-white">
                        <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                        <li class="active">News</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--==============================
        Blog Area
    ==============================-->
        <section class="vs-blog-wrapper blog-list-layout1 space-top space-md-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="vs-blog">
                            <div class="blog-image image-scale-hover">
                                <a href="blog-details.html"><img src="~/Content/assets/img/blog/blog-single-1.jpg" alt="Blog Image"></a>
                            </div>
                            <div class="blog-content bg-light-theme">
                                <div class="blog-category">
                                    <a href="blog.html">Business</a>
                                </div>
                                <h2 class="blog-title"><a href="blog-details.html">Lorem ipsum dolor sit amet, consecte cing elit, sed do eiusmod tempor.</a></h2>
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="fal fa-eye"></i>232 Views</a>
                                    <a href="blog.html"><i class="fal fa-comments"></i>17 Comments</a>
                                    <a href="blog.html"><i class="fal fa-eye"></i>22 June, 2020</a>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore.
                                </p>
                                <div class="blog-footer d-flex justify-content-between align-items-center">
                                    <div class="post-author">
                                        <a href="blog.html" class="post-author">
                                            <img src="~/Content/assets/img/testimonial/testil-author-1-2.png" alt="Post Author" class="avatar rounded-circle" height="105" width="105">
                                            <span>by Hetmayar</span>
                                        </a>
                                    </div>
                                    <a href="blog-details.html" class="link-btn"><i class="fal fa-long-arrow-right mr-2 ml-0"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="vs-blog">
                            <div class="blog-video image-scale-hover" data-overlay="body" data-opacity="3">
                                <a href="https://www.youtube.com/embed/tgbNymZ7vqY" class="play-btn overlay-center popup-video"><i class="fas fa-play"></i></a>
                                <a href="blog-details.html"><img src="~/Content/assets/img/blog/blog-single-3.jpg" alt="Blog Image"></a>
                            </div>
                            <div class="blog-content bg-light-theme">
                                <div class="blog-category">
                                    <a href="blog.html">Business</a>
                                </div>
                                <h2 class="blog-title"><a href="blog-details.html">Ut enim ad minim veniam, quis nostrud exercitation ullamco lab.</a></h2>
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="fal fa-eye"></i>232 Views</a>
                                    <a href="blog.html"><i class="fal fa-comments"></i>17 Comments</a>
                                    <a href="blog.html"><i class="fal fa-eye"></i>22 June, 2020</a>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore.
                                </p>
                                <div class="blog-footer d-flex justify-content-between align-items-center">
                                    <div class="post-author">
                                        <a href="blog.html" class="post-author">
                                            <img src="~/Content/assets/img/testimonial/testil-author-1-2.png" alt="Post Author" class="avatar rounded-circle" height="105" width="105">
                                            <span>by Admin</span>
                                        </a>
                                    </div>
                                    <a href="blog-details.html" class="link-btn"><i class="fal fa-long-arrow-right mr-2 ml-0"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="vs-blog">
                            <div class="blog-image vs-carousel" data-slidetoshow="1" data-arrows="true">
                                <div>
                                    <a href="blog-details.html"><img src="~/Content/assets/img/blog/blog-single-2.jpg" alt="Blog Image"></a>
                                </div>
                                <div>
                                    <a href="blog-details.html"><img src="~/Content/assets/img/blog/blog-single-4.jpg" alt="Blog Image"></a>
                                </div>
                            </div>
                            <div class="blog-content bg-light-theme">
                                <div class="blog-category">
                                    <a href="blog.html">Business</a>
                                </div>
                                <h2 class="blog-title"><a href="blog-details.html">Duis aute irure dolor in reprehenderit in voluptate minim veniam, quis</a></h2>
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="fal fa-eye"></i>232 Views</a>
                                    <a href="blog.html"><i class="fal fa-comments"></i>17 Comments</a>
                                    <a href="blog.html"><i class="fal fa-eye"></i>22 June, 2020</a>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore.
                                </p>
                                <div class="blog-footer d-flex justify-content-between align-items-center">
                                    <div class="post-author">
                                        <a href="blog.html" class="post-author">
                                            <img src="~/Content/assets/img/testimonial/testil-author-1-2.png" alt="Post Author" class="avatar rounded-circle" height="105" width="105">
                                            <span>by Founder</span>
                                        </a>
                                    </div>
                                    <a href="blog-details.html" class="link-btn"><i class="fal fa-long-arrow-right mr-2 ml-0"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="vs-blog">
                            <div class="blog-audio">
                                <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/452578407&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                            </div>
                            <div class="blog-content bg-light-theme">
                                <div class="blog-category">
                                    <a href="blog.html">Business</a>
                                </div>
                                <h2 class="blog-title"><a href="blog-details.html">From its medieval origins to the digital era, learn everything</a></h2>
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="fal fa-eye"></i>232 Views</a>
                                    <a href="blog.html"><i class="fal fa-comments"></i>17 Comments</a>
                                    <a href="blog.html"><i class="fal fa-eye"></i>22 June, 2020</a>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore.
                                </p>
                                <div class="blog-footer d-flex justify-content-between align-items-center">
                                    <div class="post-author">
                                        <a href="blog.html" class="post-author">
                                            <img src="~/Content/assets/img/testimonial/testil-author-1-2.png" alt="Post Author" class="avatar rounded-circle" height="105" width="105">
                                            <span>by Founder</span>
                                        </a>
                                    </div>
                                    <a href="blog-details.html" class="link-btn"><i class="fal fa-long-arrow-right mr-2 ml-0"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="vs-blog">
                            <div class="blog-content bg-light-theme">
                                <div class="blog-category">
                                    <a href="blog.html">Business</a>
                                </div>
                                <h2 class="blog-title"><a href="blog-details.html">Creation timelines for the standard lorem ipsum passage</a></h2>
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="fal fa-eye"></i>232 Views</a>
                                    <a href="blog.html"><i class="fal fa-comments"></i>17 Comments</a>
                                    <a href="blog.html"><i class="fal fa-eye"></i>22 June, 2020</a>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore.
                                </p>
                                <div class="blog-footer d-flex justify-content-between align-items-center">
                                    <div class="post-author">
                                        <a href="blog.html" class="post-author">
                                            <img src="~/Content/assets/img/testimonial/testil-author-1-2.png" alt="Post Author" class="avatar rounded-circle" height="105" width="105">
                                            <span>by Hetmayar</span>
                                        </a>
                                    </div>
                                    <a href="blog-details.html" class="link-btn"><i class="fal fa-long-arrow-right mr-2 ml-0"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="vs-blog format-background">
                            <div class="blog-content background-image" data-overlay="white" data-opacity="9" data-vs-img="../Content/assets/img/blog/blog-single-5.jpg">
                                <div class="blog-category">
                                    <a href="blog.html">Business</a>
                                </div>
                                <h2 class="blog-title"><a href="blog-details.html">Letraset's dry-transfer sheets, and later entered esse cillum dolore.</a></h2>
                                <div class="blog-meta">
                                    <a href="blog.html"><i class="fal fa-eye"></i>232 Views</a>
                                    <a href="blog.html"><i class="fal fa-comments"></i>17 Comments</a>
                                    <a href="blog.html"><i class="fal fa-eye"></i>22 June, 2020</a>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-wrapper pagination-layout1 list-style-none pb-30">
                            <ul>
                                <li><a href="news.html"><i class="fas fa-chevron-left"></i></a></li>
                                <li><a href="news.html" class="active">1</a></li>
                                <li><a href="news.html">2</a></li>
                                <li><a href="news.html">3</a></li>
                                <li><a href="news.html"><i class="fas fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="sidebar-area  sticky-top">
                            <div class="widget widget_search   ">
                                <h3 class="widget_title">Search Objects</h3>
                                <form class="search-form">
                                    <input type="text" placeholder="Search Here">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </form>
                            </div>
                            <div class="widget   ">
                                <h3 class="widget_title">Popular Feeds</h3>
                                <div class="vs-widget-recent-post has-border-theme">
                                    <div class="recent-post media">
                                        <div class="media-img">
                                            <img src="~/Content/assets/img/widget/post-thumb-1.jpg" alt="Recent Post Image">
                                        </div>
                                        <div class="media-body pl-20">
                                            <h4 class="recent-post-title h6 mb-0"><a href="blog.html">Lorem ipsum dolor sit cing elit, sed do.</a></h4>
                                            <span><i class="fal fa-calendar-alt text-theme"></i> 05 June, 2020.</span>
                                        </div>
                                    </div>
                                    <div class="recent-post media">
                                        <div class="media-img">
                                            <img src="~/Content/assets/img/widget/post-thumb-2.jpg" alt="Recent Post Image">
                                        </div>
                                        <div class="media-body pl-20">
                                            <h4 class="recent-post-title h6 mb-0"><a href="blog.html">Lorem ipsum dolor sit cing elit, sed do.</a></h4>
                                            <span><i class="fal fa-calendar-alt text-theme"></i> 05 June, 2020.</span>
                                        </div>
                                    </div>
                                    <div class="recent-post media">
                                        <div class="media-img">
                                            <img src="~/Content/assets/img/widget/post-thumb-3.jpg" alt="Recent Post Image">
                                        </div>
                                        <div class="media-body pl-20">
                                            <h4 class="recent-post-title h6 mb-0"><a href="blog.html">Lorem ipsum dolor sit cing elit, sed do.</a></h4>
                                            <span><i class="fal fa-calendar-alt text-theme"></i> 05 June, 2020.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget widget_categories   ">
                                <h3 class="widget_title">Categories</h3>
                                <ul>
                                    <li>
                                        <a href="#">Business</a>
                                        <span>26</span>
                                    </li>
                                    <li>
                                        <a href="#">Consultant</a>
                                        <span>30</span>
                                    </li>
                                    <li>
                                        <a href="#">Creative</a>
                                        <span>71</span>
                                    </li>
                                    <li>
                                        <a href="#">UI/UX</a>
                                        <span>56</span>
                                    </li>
                                    <li>
                                        <a href="#">Technology</a>
                                        <span>60</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget   ">
                                <h3 class="widget_title">Never Miss News</h3>
                                <ul class="social-links links-hover-border">
                                    <li><a href="https://google.com"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://google.com"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://google.com"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://google.com"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="https://google.com"><i class="fal fa-basketball-ball"></i></a></li>
                                </ul>
                            </div>
                            <div class="widget   ">
                                <h3 class="widget_title">Twitter Feeds</h3>
                                <div class="twitter-feeds">
                                    <ul>
                                        <li>
                                            <i class="fab fa-twitter"></i>
                                            Rescue - #Gutenberg ready @@ wordpressTheme for Creative Bloggers available on@@ ThemeForest <a href="https://google.com">https://t.co/2r1POjOjgV</a> C… <a href="https://google.com">https://t.co/rDAnPyClu1</a>
                                            <span class="post-date">November 25, 2020</span>
                                        </li>
                                        <li>
                                            <i class="fab fa-twitter"></i>
                                            Rescue - #Gutenberg ready @@ wordpressTheme for Creative Bloggers available on@@ ThemeForest <a href="https://google.com">https://t.co/2r1POjOjgV</a> C… <a href="https://google.com">https://t.co/rDAnPyClu1</a>
                                            <span class="post-date">November 25, 2020</span>
                                        </li>
                                        <li>
                                            <i class="fab fa-twitter"></i>
                                            Rescue - #Gutenberg ready @@ wordpressTheme for Creative Bloggers available on@@ ThemeForest <a href="https://google.com">https://t.co/2r1POjOjgV</a> C… <a href="https://google.com">https://t.co/rDAnPyClu1</a>
                                            <span class="post-date">November 25, 2020</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget   ">
                                <h3 class="widget_title">Our Gellary</h3>
                                <div class="instagram-feeds">
                                    <ul>
                                        <li><a href="https://google.com"><img src="~/Content/assets/img/widget/insta-feed-1-1.jpg" alt="Instagram Feed"></a></li>
                                        <li><a href="https://google.com"><img src="~/Content/assets/img/widget/insta-feed-1-2.jpg" alt="Instagram Feed"></a></li>
                                        <li><a href="https://google.com"><img src="~/Content/assets/img/widget/insta-feed-1-3.jpg" alt="Instagram Feed"></a></li>
                                        <li><a href="https://google.com"><img src="~/Content/assets/img/widget/insta-feed-1-4.jpg" alt="Instagram Feed"></a></li>
                                        <li><a href="https://google.com"><img src="~/Content/assets/img/widget/insta-feed-1-5.jpg" alt="Instagram Feed"></a></li>
                                        <li><a href="https://google.com"><img src="~/Content/assets/img/widget/insta-feed-1-6.jpg" alt="Instagram Feed"></a></li>
                                        <li><a href="https://google.com"><img src="~/Content/assets/img/widget/insta-feed-1-7.jpg" alt="Instagram Feed"></a></li>
                                        <li><a href="https://google.com"><img src="~/Content/assets/img/widget/insta-feed-1-8.jpg" alt="Instagram Feed"></a></li>
                                        <li><a href="https://google.com"><img src="~/Content/assets/img/widget/insta-feed-1-9.jpg" alt="Instagram Feed"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget_tag_cloud   ">
                                <h3 class="widget_title">Popular Tags</h3>
                                <div class="tagcloud">
                                    <a href="blog.html">Popular</a>
                                    <a href="blog.html">desgin</a>
                                    <a href="blog.html">ux</a>
                                    <a href="blog.html">usability</a>
                                    <a href="blog.html">develop</a>
                                    <a href="blog.html">icon</a>
                                    <a href="blog.html">business</a>
                                    <a href="blog.html">consult</a>
                                    <a href="blog.html">keyboard</a>
                                    <a href="blog.html">mouse</a>
                                    <a href="blog.html">tech</a>
                                </div>
                            </div>
                            <div class="widget p-0  ">
                                <div>
                                    <img src="~/Content/assets/img/widget/ad-banner.jpg" alt="Ad Banner" class="w-100">
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        </div>

