
@{
    ViewBag.Title = "Home Page";
}

<style>
    

    
@@media (min-width: 1200px){
.sec-subtitle-style1 {
    
width:178px;
}
                     }
</style>
<div style="display:block">
    <!--==============================
        Hero Section
    ==============================-->
    <section id="heroo" class="vs-hero-wrapper vs-hero-layout4 position-relative overflow-hidden  ">
        <div class="vs-hero-carousel" data-height="760" data-allowfullscreen="false">
            <div class="ls-slide" data-ls="duration: 7000; transition2d: 5;">
                <img src="~/content/assets/img/products/8F7A9407.jpg" alt="Hero Bg Image" class="ls-bg">
                <h2 class="ls-slide" style="background-color: rgba(58,58,59, 0.6); color:white; left: 370px; top: 240px; width: 570px; white-space: normal; font-size: 72px; line-height: 90px; text-transform: capitalize; " data-ls="   easingin:easeOutQuint; texttransitionin: true; texttypein: lines_asc;    textrotatexin: random(45,45); ">Healing Body Mind And Spirit</h2>
                <div class="hero-btn ls-l" style="top: 530px; left: 330px; width: 296px; height: 80px; line-height: 80px; font-size: 14px; padding: 7px; padding-left: 40px; overflow: hidden; box-shadow: none;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1;  easingin:easeOutQuint;">
                    <a href="contact.html" class="vs-btn wave-style1">Make Appointment<i class="far fa-arrow-right"></i></a>
                </div>

            </div>
            <div class="ls-slide" data-ls="duration: 7000; transition2d: 5;">
                <img src="~/content/assets/img/products/8F7A9397.jpg" alt="Hero Bg Image" class="ls-bg">
                <h2 class="ls-slide" style="background-color: rgba(58,58,59, 0.6); color: white; left: 370px; top: 240px; width: 570px; white-space: normal; font-size: 72px; line-height: 90px; text-transform: capitalize;" data-ls="   easingin:easeOutQuint; texttransitionin: true; texttypein: lines_asc;    textrotatexin: random(45,45); ">Healing Body Mind And Spirit</h2>

                <div class="hero-btn ls-l" style="top: 530px; left: 330px; width: 296px; height: 80px; line-height: 80px; font-size: 14px; padding: 7px; padding-left: 40px; overflow: hidden; box-shadow: none;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1;  easingin:easeOutQuint;">
                    <a href="contact.html" class="vs-btn wave-style1">Make Appointment<i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="ls-slide" data-ls="duration: 10000; transition2d: 5;">
                <img src="~/Content/assets/img/products/carous3.jpg" alt="Hero Bg Image" class="ls-bg">
                <h2 class="ls-slide" style="background-color: rgba(58,58,59, 0.6); color:white; left: 370px; top: 240px; width: 570px; white-space: normal; font-size: 72px; line-height: 90px; text-transform: capitalize;" data-ls="   easingin:easeOutQuint; texttransitionin: true; texttypein: lines_asc;    textrotatexin: random(45,45); ">Healing Body Mind And Spirit</h2>

                <div class="hero-btn ls-l" style="top: 530px; left: 330px; width: 296px; height: 80px; line-height: 80px; font-size: 14px; padding: 7px; padding-left: 40px; overflow: hidden; box-shadow: none;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1;  easingin:easeOutQuint;">
                    <a href="contact.html" class="vs-btn wave-style1">Make Appointment<i class="far fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
        About Area
    ==============================-->
    <div class="container body-content">
        <section class="vs-about-wrapper vs-about-layout1 position-relative space" id="about">
            <div class="shape1 position-absolute ani-moving-x d-none d-lg-inline-block"><img src="~/Content/assets/img/products/leaf.png" alt="Leaf Image"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="about-image-box1  position-relative  mb-lg-0">
                            <div class="big-img d-inline-block position-relative">
                                <a href="about.html">
                                    <img  src="~/Content/assets/img/products/aboutushome.png" alt="About Image">
                                </a>
                                <span class="pattern d-none d-xl-inline-block"><img src="~/Content/assets/img/icons/about-img-pattern-1.png" alt="Pattern"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="about-content-box1 pl-50">
                            <p class="mb-30">We make <span class="inner-label">products</span> that suits your image</p>
                            <h2 class="sec-title-style1">
                                Learn More <span class="sec-subtitle-style1">
                                    About
                                    Us
                                </span>
                            </h2>
                            <p class="text-font2 text-20">
                                In Ecoporté we go above and beyond, providing you with the highest quality
                                products that sets your brand apart and enhances your customers’ experience to
                                the top level.
                            </p>
                            <div class='text-box1'>
                                <p class="mb-0">
                                    Throughout the years we’ve been Marketing leading products that feel as good as
                                    they look.
                                    We provide a variety a full range of wellbeing amenities that are bespoke for hotels,
                                    spas and clinics’ needs.
                                </p>
                            </div>
                            <p>
                                Our company offers also the ability to customize your needs in terms of product
                                design and used materials.
                            </p>
                            <div class="vs-btn-group">
                                <a href="service.html" class="vs-btn wave-style1 mb-3 mb-sm-0 mr-sm-3">Our Products<i class="far fa-arrow-right"></i></a>
                                <a href="tel:0123456789" class="vs-btn outline-style1"><i class="fal fa-phone"></i>Make A Call</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==============================
            Service Area
        ==============================-->
        <section style=" box-shadow: 5px 5px 18px -7px; border-top-right-radius: 12px; border-bottom-left-radius:12px;" class="vs-service-wrapper vs-service-layout1 bg-light-theme space-top space-md-bottom" id="service">
            <div class="container">
                <div class="row text-center justify-content-center">
                    <div class="col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="section-title ">
                            <span class="sec-bg-icon1 ani-moving-x"><i class="flaticon-glider-butterfly"></i></span>
                            <h2 style="color:white"  class="sec-title-style1">Le luxe bien porté<span class="sec-subtitle-style1">Our Products</span></h2>
                            <p style="color:white" class="sec-text-style1">
                                Have access to our greatest wellbeing items, crafted with meticulous
                                attention to detail.
                            </p>
                        </div>
                    </div>
                </div>
                <div  class="row vs-carousel wow fadeInUp products-accueil" data-wow-delay="0.3s" data-slidetoshow="4" data-mdslidetoshow="3" data-smslidetoshow="2" data-xsslidetoshow="1">
                    <div class="col-lg-3">
                        <div class="vs-service">
                            <div class="service-icon">
                                <span class="icon text-theme bg-white"><img src="~/Content/assets/img/products/hygien.png" /></span>
                                <span class="bg-icon ani-moving icon-6x text-theme"><img src="~/Content/assets/img/products/hygien.png" /></span>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title h4"><a href="service-details.html">Hygiene essentials</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="vs-service">
                            <div class="service-icon">
                                <span class="icon text-theme bg-white"><img src="~/Content/assets/img/products/tong.png" /></span>
                                <span class="bg-icon ani-moving icon-6x text-theme"><img src="~/Content/assets/img/products/tong.png" /></span>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title h4"><a href="service-details.html">Tongs & mules</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="vs-service">
                            <div class="service-icon">
                                <span class="icon text-theme bg-white"><img src="~/Content/assets/img/products/manshorts.png" /></span>
                                <span class="bg-icon ani-moving icon-6x text-theme"><img src="~/Content/assets/img/products/manshorts.png" /></span>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title h4"><a href="service-details.html">Disposable briefs & shorts for men</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="vs-service">
                            <div class="service-icon">
                                <span class="icon text-theme bg-white"><img src="~/Content/assets/img/products/woman.png" /></span>
                                <span class="bg-icon ani-moving icon-6x text-theme"><img src="~/Content/assets/img/products/woman.png" /></span>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title h4"><a href="service-details.html">Disposable underwear for women</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="vs-service">
                            <div class="service-icon">
                                <span class="icon text-theme bg-white"><img src="~/Content/assets/img/products/disposable.png" /></i></span>
                                <span class="bg-icon ani-moving icon-6x text-theme"><img src="~/Content/assets/img/products/disposable.png" /></span>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title h4"><a href="service-details.html">Disposable Slippers</a></h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==============================
          Appointment Area
        ==============================-->
        <section class="vs-appointment-wrapper vs-appointment-layout1 position-relative space-top space-md-bottom" id="contact">
            <div class="shape1 position-absolute ani-moving-y"><img src="~/Content/assets/img/shape/flower-1-1.png" alt="Flowers"></div>
            <div class="shape2 position-absolute ani-moving-y"><img src="~/Content/assets/img/shape/flower-1-2.png" alt="Flowers"></div>
            <div class="container">
                <div class="row">
                    
                    <div class="col-xl-12">
                        <div class="row">


                            <div class="col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="offer-banner-style2  mb-30">
                                    <div class="banner-image">
                                        <img src="~/Content/assets/img/products/returns.jpg" alt="Offer Banner" class="w-100">
                                    </div>
                                    <div class="banner-content">

                                        <h3 class="banner-title h2" style="color:white">Returns</h3>
                                        <a href="shop.html" class="vs-btn vs-style2 ">More Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="offer-banner-style2  mb-30">
                                    <div class="banner-image">
                                        <img src="~/Content/assets/img/products/comingsoon.jpg" alt="Offer Banner" class="w-100">
                                    </div>
                                    <div class="banner-content">

                                        <h3 class="banner-title h2" style="color:white">Coming Soon</h3>
                                        <a href="shop.html" class="vs-btn vs-style2 ">More Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    

    <!-- Divider -->
        <div class="divider-style1   wow fadeIn" data-wow-delay="0.3s">
            <div class="container text-center position-relative">
                <span class="divider-icon"><i class="flaticon-lotus-flower"></i></span>
            </div>
        </div>

        <!--==============================
        Call To Action Area
        ==============================-->
        <section class="vs-cta-wrapper vs-cta-layout1 space">
            <div class="container">
                <div class="row justify-content-center my-lg-0 my-30">
                    <div class="col-xl-8  wow fadeInUp" data-wow-delay="0.3s">
                        <div class="cta-content text-center link-inherit">
                            <div class="cta-thumb mb-2 mb-lg-4">
                                <img style="width:20%" src="~/Content/assets/img/products/logo2.png" alt="Mixlax - Spa Beauty Salon HTML Template">
                            </div>
                            <p class=" text-md">Don’t hassitate <a href="contact.html" class="text-underline text-bold"><u>Contact With</u></a> us any time</p>
                            <h2 class="sec-title-style1 mb-3 mb-lg-4 ">Ecoporté in numbers</h2>

                        </div>
                    </div>
                </div>

                <div class="counter-area d-lg-flex justify-content-lg-between">
                    <div class="counter-box2  wow fadeInUp" data-wow-delay="0.3s">
                        <div class="conter-content">
                            <p class="counter-number mb-0 text-font2"><span class="counter">25</span></p>
                            <p class="counter-text mb-0">Yr Experience</p>
                        </div>
                    </div>
                    <div class="counter-box2  wow fadeInUp" data-wow-delay="0.4s">
                        <div class="conter-content">
                            <p class="counter-number mb-0 text-font2"><span class="counter">1</span>k</p>
                            <p class="counter-text mb-0">Active Clients</p>
                        </div>
                    </div>
                    <div class="counter-box2  wow fadeInUp" data-wow-delay="0.5s">
                        <div class="conter-content">
                            <p class="counter-number mb-0 text-font2"><span class="counter">25</span></p>
                            <p class="counter-text mb-0">Cup Coffee</p>
                        </div>
                    </div>
                    <div class="counter-box2  wow fadeInUp" data-wow-delay="0.4s">
                        <div class="conter-content">
                            <p class="counter-number mb-0 text-font2"><span class="counter">10</span></p>
                            <p class="counter-text mb-0">Item Uses</p>
                        </div>
                    </div>
                    <div class="counter-box2  wow fadeInUp" data-wow-delay="0.5s">
                        <div class="conter-content">
                            <p class="counter-number mb-0 text-font2"><span class="counter">50</span></p>
                            <p class="counter-text mb-0">Core Service</p>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <!--==============================
        Brand Area
        ==============================-->
        <div class="vs-brand-wrapper vs-brand-layout1 px-180">
            <div class="container-fluid">
                <div class="row vs-carousel text-center wow fadeInUp" data-wow-delay="0.3s" data-slidetoshow="5" data-xlslidetoshow="4" data-mlslidetoshow="4" data-lgslidetoshow="4" data-mdslidetoshow="3" data-smslidetoshow="2" data-xsslidetoshow="1">
                    <div class="col-xl-3">
                        <div class="vs-brand">
                            <img src="~/Content/assets/img/products/badira.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="vs-brand">
                            <img src="~/Content/assets/img/products/sheraton.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="vs-brand">
                            <img src="~/Content/assets/img/products/lacigale.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="vs-brand">
                            <img src="~/Content/assets/img/products/belazur.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="vs-brand">
                            <img src="~/Content/assets/img/products/Villa-Bleue.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="vs-brand">
                            <img src="~/Content/assets/img/products/darjeld.png" alt="Brand Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--==============================
          Testimonial Area
        ==============================-->
        <section class="vs-testimonial-wrapper vs-testimonial-layout1 space-top space-md-bottom">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <span class="quote-icon-style1 fa-4x"><i class="flaticon-quote-1"></i></span>
                    </div>
                    <div class="col-xl-10 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="testimonial-content-area text-center vs-carousel" id="testi-content" data-fade="true" data-asnavfor="#testi-author-name, #testi-author" data-slidetoshow="1">
                            <div class="testimonial-content px-xl-5">
                                <h2>The evening has been fantastic great food & good entertainment nothing short.</h2>
                                <p class="text-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="testimonial-content px-xl-5">
                                <h2>The night was so exicted with full of satisfication with a good service and food.</h2>
                                <p class="text-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="testimonial-content px-xl-5">
                                <h2>A great start of the day with a Wonderful massage. Full day enjoyed a great freshness.</h2>
                                <p class="text-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="testimonial-content px-xl-5">
                                <h2>The night was so exicted with full of satisfication with a good service and food.</h2>
                                <p class="text-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="testimonial-border-line">
                            <div class="border-css"></div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="testimonial-avater-style1 vs-carousel" id="testi-author" data-asnavfor="#testi-author-name, #testi-content" data-slidetoshow="3" data-centermode="true" data-variablewidth="true" data-xlcentermode="true" data-mlcentermode="true" data-lgcentermode="true" data-mdcentermode="true" data-smcentermode="true" data-xscentermode="true">
                            <div class="author-img">
                                <img src="~/Content/assets/img/testimonial/testil-author-1-1.png" alt="Author Image" class="w-100">
                            </div>
                            <div class="author-img">
                                <img src="~/Content/assets/img/testimonial/testil-author-1-2.png" alt="Author Image" class="w-100">
                            </div>
                            <div class="author-img">
                                <img src="~/Content/assets/img/testimonial/testil-author-1-3.png" alt="Author Image" class="w-100">
                            </div>
                            <div class="author-img">
                                <img src="~/Content/assets/img/testimonial/testil-author-1-4.png" alt="Author Image" class="w-100">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="testimonial-author-style1 mb-25 vs-carousel text-center" id="testi-author-name" data-fade="true" data-asnavfor="#testi-content, #testi-author" data-slidetoshow="1">
                            <div class="author-content">
                                <h3 class="h4 mb-0">Minas Morola D.</h3>
                                <span class="mb-0 text-bold text-theme">Founder</span>
                            </div>
                            <div class="author-content">
                                <h3 class="h4 mb-0">Jen L. Marto</h3>
                                <span class="mb-0 text-bold text-theme">Founder</span>
                            </div>
                            <div class="author-content">
                                <h3 class="h4 mb-0">Lomote F. Kerla</h3>
                                <span class="mb-0 text-bold text-theme">Founder</span>
                            </div>
                            <div class="author-content">
                                <h3 class="h4 mb-0">Rosalina D. William</h3>
                                <span class="mb-0 text-bold text-theme">Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>