
@{
    ViewBag.Title = "Home Page";
}

<style>
    @@media all and (min-width: 992px) {
      #heroo{
          margin-top:-125px;
      }
    }
</style>
    <div style="display:block">
        <!--==============================
          Hero Section
      ==============================-->
        <section id="heroo" class="vs-hero-wrapper vs-hero-layout4 position-relative overflow-hidden  " >
            <div class="vs-hero-carousel" data-height="1000" data-allowfullscreen="false">
                <div class="ls-slide" data-ls="duration: 7000; transition2d: 5;">
                    <img src="~/content/assets/img/products/8F7A9407.jpg" alt="Hero Bg Image" class="ls-bg">
                    <h2 class="ls-slide" style="left: 370px; top: 240px; width: 570px; white-space: normal; font-size: 72px; line-height: 90px; text-transform: capitalize;" data-ls=" offsetxin: -100; durationin: 300; delayin: 400; easingin:easeOutQuint; texttransitionin: true; texttypein: lines_asc; textoffsetyin: -50lw; textdurationin: 2000; textfadein: true; textrotatexin: random(45,45); textshiftin: 100;">Healing Body Mind And Spirit</h2>
                    <div class="hero-btn ls-l" style="top: 530px; left: 330px; width: 266px; height: 80px; line-height: 80px; font-size: 14px; padding: 7px; padding-left: 40px; overflow: hidden; box-shadow: none;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:3000; easingin:easeOutQuint;">
                        <a href="contact.html" class="vs-btn wave-style1">Make Appointment<i class="far fa-arrow-right"></i></a>
                    </div>
                   
                </div>
                <div class="ls-slide" data-ls="duration: 7000; transition2d: 5;">
                    <img src="~/content/assets/img/products/8F7A9256.jpg" alt="Hero Bg Image" class="ls-bg">
                    <h2 class="ls-slide" style="left: 370px; top: 240px; width: 570px; white-space: normal; font-size: 72px; line-height: 90px; text-transform: capitalize;" data-ls=" offsetxin: -100; durationin: 300; delayin: 400; easingin:easeOutQuint; texttransitionin: true; texttypein: lines_asc; textoffsetyin: -50lw; textdurationin: 2000; textfadein: true; textrotatexin: random(45,45); textshiftin: 100;">Healing Body Mind And Spirit</h2>

                    <div class="hero-btn ls-l" style="top: 530px; left: 330px; width: 266px; height: 80px; line-height: 80px; font-size: 14px; padding: 7px; padding-left: 40px; overflow: hidden; box-shadow: none;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:3000; easingin:easeOutQuint;">
                        <a href="contact.html" class="vs-btn wave-style1">Make Appointment<i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="ls-slide" data-ls="duration: 7000; transition2d: 5;">
                    <img src="~/Content/assets/img/products/8F7A9397.jpg" alt="Hero Bg Image" class="ls-bg">
                    <h2 class="ls-slide" style="left: 370px; top: 240px; width: 570px; white-space: normal; font-size: 72px; line-height: 90px; text-transform: capitalize;" data-ls=" offsetxin: -100; durationin: 300; delayin: 400; easingin:easeOutQuint; texttransitionin: true; texttypein: lines_asc; textoffsetyin: -50lw; textdurationin: 2000; textfadein: true; textrotatexin: random(45,45); textshiftin: 100;">Healing Body Mind And Spirit</h2>

                    <div class="hero-btn ls-l" style="top: 530px; left: 330px; width: 266px; height: 80px; line-height: 80px; font-size: 14px; padding: 7px; padding-left: 40px; overflow: hidden; box-shadow: none;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:3000; easingin:easeOutQuint;">
                        <a href="contact.html" class="vs-btn wave-style1">Make Appointment<i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!--==============================
        About Area
    ==============================-->
        <div class="container body-content">
            <section class="vs-about-wrapper vs-about-layout1 position-relative space" id="about">
                <div class="shape1 position-absolute ani-moving-x d-none d-lg-inline-block"><img src="~/Content/assets/img/shape/sidecar2.jpg" alt="Leaf Image"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="about-image-box1 pt-100 pb-150 position-relative mb-30 mb-lg-0">
                                <div class="big-img d-inline-block position-relative">
                                    <a href="about.html">
                                        <img src="~/Content/assets/img/products/8F7A9055.jpg" alt="About Image">
                                    </a>
                                    <span class="pattern d-none d-xl-inline-block"><img src="~/Content/assets/img/icons/about-img-pattern-1.png" alt="Pattern"></span>
                                </div>
                                <div class="small-img1 d-none d-xl-inline-block">
                                    <a href="about.html">
                                        <img src="~/Content/assets/img/about/about-img-1-2.jpg" alt="About Image">
                                    </a>
                                </div>
                                <div class="small-img2 d-none d-xl-inline-block">
                                    <a href="about.html">
                                        <img src="~/Content/assets/img/about/about-img-1-3.jpg" alt="About Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <div class="about-content-box1 pl-50">
                                <p class="mb-30">We Have <span class="inner-label">25 Years</span> Of Experience</p>
                                <h2 class="sec-title-style1">
                                    Learn More <span class="sec-subtitle-style1">
                                        About
                                        Us
                                    </span>
                                </h2>
                                <p class="text-font2 text-20">
                                    Our fitness centre is one of the best in London and is
                                    equipped with the latest cutting edge equipment.
                                </p>
                                <div class='text-box1'>
                                    <p class="mb-0">
                                        A range of different massage techniques, reflexology, body scrubs
                                        and facial are available on-site which will help you unwind, relax
                                        and rejuvenate from the hustle and bustle of daily life.
                                    </p>
                                </div>
                                <p>
                                    Our Siam Thai Spa centre is run independently by a leading Thai wellness
                                    company ensuring uncompromising quality.
                                </p>
                                <div class="vs-btn-group">
                                    <a href="service.html" class="vs-btn wave-style1 mb-3 mb-sm-0 mr-sm-3">Our Services<i class="far fa-arrow-right"></i></a>
                                    <a href="tel:0123456789" class="vs-btn outline-style1"><i class="fal fa-phone"></i>Make A Call</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================
            Service Area
        ==============================-->
            <section class="vs-service-wrapper vs-service-layout1 bg-light-theme space-top space-md-bottom" id="service">
                <div class="container">
                    <div class="row text-center justify-content-center">
                        <div class="col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="section-title ">
                                <span class="sec-bg-icon1 ani-moving-x"><i class="flaticon-glider-butterfly"></i></span>
                                <h2 class="sec-title-style1">Relax Zone <span class="sec-subtitle-style1">Our Services</span></h2>
                                <p class="sec-text-style1">
                                    Access to our fitness centre and pool is free to all our hotel guests. For
                                    non-guests membership packages are available.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row vs-carousel wow fadeInUp" data-wow-delay="0.3s" data-slidetoshow="4" data-mdslidetoshow="3" data-smslidetoshow="2" data-xsslidetoshow="1">
                        <div class="col-lg-3">
                            <div class="vs-service">
                                <div class="service-icon">
                                    <span class="icon text-theme bg-white"><i class="fa-3x flaticon-spa"></i></span>
                                    <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-stones"></i></span>
                                </div>
                                <div class="service-content">
                                    <h3 class="service-title h4"><a href="service-details.html">Sports Massage</a></h3>
                                    <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="vs-service">
                                <div class="service-icon">
                                    <span class="icon text-theme bg-white"><i class="fa-3x flaticon-stones-1"></i></span>
                                    <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-mortar"></i></span>
                                </div>
                                <div class="service-content">
                                    <h3 class="service-title h4"><a href="service-details.html">Hot Stone Massage</a></h3>
                                    <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="vs-service">
                                <div class="service-icon">
                                    <span class="icon text-theme bg-white"><i class="fa-3x flaticon-facial-treatment"></i></span>
                                    <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-teapot"></i></span>
                                </div>
                                <div class="service-content">
                                    <h3 class="service-title h4"><a href="service-details.html">Facial & Therophy</a></h3>
                                    <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="vs-service">
                                <div class="service-icon">
                                    <span class="icon text-theme bg-white"><i class="fa-3x flaticon-cosmetics"></i></span>
                                    <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-lotus"></i></span>
                                </div>
                                <div class="service-content">
                                    <h3 class="service-title h4"><a href="service-details.html">Parlar & Beauty</a></h3>
                                    <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="vs-service">
                                <div class="service-icon">
                                    <span class="icon text-theme bg-white"><i class="fa-3x flaticon-beauty-treatment"></i></span>
                                    <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-cosmetics-1"></i></span>
                                </div>
                                <div class="service-content">
                                    <h3 class="service-title h4"><a href="service-details.html">Eye & Shadow</a></h3>
                                    <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================
          Appointment Area
        ==============================-->
            <section class="vs-appointment-wrapper vs-appointment-layout1 position-relative space-top space-md-bottom" id="contact">
                <div class="shape1 position-absolute ani-moving-y"><img src="~/Content/assets/img/shape/flower-1-1.png" alt="Flowers"></div>
                <div class="shape2 position-absolute ani-moving-y"><img src="~/Content/assets/img/shape/flower-1-2.png" alt="Flowers"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                            <form action="#" class="appointment-form-style1 input-white bg-light-theme px-60 py-70 mb-30">
                                <div class="form-title media mb-20">
                                    <div class="media-icon mt-1 mr-3 d-none d-lg-inline-block">
                                        <span class="icon-btn bg-theme text-white"><i class="text-lg fal fa-calendar-alt"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <p class="mb-1">Get relax any day & any Time</p>
                                        <h2 class="form-title">Make Appointment</h2>
                                    </div>
                                </div>
                                <div class="row gutters-20">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="Last name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email" class="form-control" placeholder="Email address">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="number" class="form-control" placeholder="Phone number">
                                    </div>
                                    <div class="form-group col-md-6 col-xl-12">
                                        <select>
                                            <option selected>Select Subject</option>
                                            <option>Sports Massage</option>
                                            <option>Stone Massage</option>
                                            <option>Head Massage</option>
                                            <option>Head Massage</option>
                                            <option>Facial & Massage</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 col-xl-12">
                                        <input type="text" class="form-control dateTime-pick" placeholder="Select Date & Time">
                                        <i class="fal fa-calendar-alt"></i>
                                    </div>
                                    <div class="form-group col-12 mb-0 text-center">
                                        <button type="submit" class="vs-btn wave-style1">Make Appointment<i class="far fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-lg-6 col-xl-12 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="offer-banner-style1  mb-30">
                                        <div class="banner-image">
                                            <img src="~/Content/assets/img/banner/offer-banner-1.png" alt="Offer Banner" class="w-100">
                                        </div>
                                        <div class="banner-content">
                                            <p class="mb-1">Foundation</p>
                                            <h3 class="banner-title h2">Natural Tone</h3>
                                            <a href="shop.html" class="vs-btn vs-style1">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-12 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="offer-banner-style2  mb-30">
                                        <div class="banner-image">
                                            <img src="~/Content/assets/img/banner/offer-banner-2.png" alt="Offer Banner" class="w-100">
                                        </div>
                                        <div class="banner-content">
                                            <p class="mb-1">Cosmetics</p>
                                            <h3 class="banner-title h2">Floral & Beauty Cream.</h3>
                                            <a href="shop.html" class="vs-btn vs-style2 ">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- Divider -->
            <div class="divider-style1   wow fadeIn" data-wow-delay="0.3s">
                <div class="container text-center position-relative">
                    <span class="divider-icon"><i class="flaticon-lotus-flower"></i></span>
                </div>
            </div>
            <!--==============================
          About Area
        ==============================-->
            <section class="vs-about-wrapper vs-about-layout2 position-relative space-top space-md-bottom">
                <div class="shape1 position-absolute ani-moving-x"><img src="~/Content/assets/img/about/about-leaf-1-1.png" alt="About Us Image"></div>
                <div class="container">
                    <div class="row flex-row-reverse">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="about-image-box2 mb-30">
                                <img src="~/Content/assets/img/about/about-img-2-1.jpg" alt="Spa Girl Image">
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <div class="about-content-box2 pr-xl-4 mb-30">
                                <p class="mb-30">Your <span class="inner-label">Best Price</span> is Right Here</p>
                                <h2 class="sec-title-style1">Check Some <span class="sec-subtitle-style1">Fun <br> Fact</span></h2>
                                <p class="text-font2 text-20">Our fitness centre is one of the best in London and is equipped with the latest cutting edge equipment.</p>
                                <div class="text-box1 py-0 d-block d-md-flex align-items-center">
                                    <div class="media-img mb-20 mb-md-0 mr-md-4">
                                        <img src="~/Content/assets/img/about/about-img-2-2.jpg" alt="Thumb Image">
                                    </div>
                                    <div class="media-body">
                                        <p class="mb-0">
                                            A range of different massage techniques,
                                            reflexology, body scrubs and facial are available
                                            on-site which will help you unwind, relax.
                                        </p>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-sm-6 col-xl-5">
                                        <div class="counter-box1 bg-dark mb-30 mb-sm-0">
                                            <span class="counter-icon text-white"><i class="fal fa-users"></i></span>
                                            <span class="counter text-font2 text-white">89</span>
                                            <p class="counter-text mb-0 text-theme">Happy Clients</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-5">
                                        <div class="counter-box1 bg-theme">
                                            <span class="counter-icon text-white"><i class="fal fa-globe-europe"></i></span>
                                            <span class="counter text-font2 text-white">10</span>
                                            <p class="counter-text mb-0 text-white">Country Coverage</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================
        Brand Area
        ==============================-->
            <div class="vs-brand-wrapper vs-brand-layout1 px-180">
                <div class="container-fluid">
                    <div class="row vs-carousel text-center wow fadeInUp" data-wow-delay="0.3s" data-slidetoshow="5" data-xlslidetoshow="4" data-mlslidetoshow="4" data-lgslidetoshow="4" data-mdslidetoshow="3" data-smslidetoshow="2" data-xsslidetoshow="1">
                        <div class="col-xl-3">
                            <div class="vs-brand">
                                <img src="~/Content/assets/img/brand/brand-img-1-1.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="vs-brand">
                                <img src="~/Content/assets/img/brand/brand-img-1-2.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="vs-brand">
                                <img src="~/Content/assets/img/brand/brand-img-1-3.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="vs-brand">
                                <img src="~/Content/assets/img/brand/brand-img-1-4.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="vs-brand">
                                <img src="~/Content/assets/img/brand/brand-img-1-5.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="vs-brand">
                                <img src="~/Content/assets/img/brand/brand-img-1-2.png" alt="Brand Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==============================
          Price Plan
        ==============================-->
            <section class="vs-pricing-wrapper bg-auto bg-top vs-pricing-layout1 background-image space-top" data-vs-img="../Content/assets/img/price/price-bg-1-1.jpg" id="price">
                <div class="container">
                    <div class="row flex-row-reverse">
                        <div class="col-md-10 col-lg-7 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                            <p class="mb-30">Your <span class="inner-label">-50% Offer</span> is Right Here</p>
                            <h2 class="sec-title-style1 mb-40">Get Inspiration <span class="sec-subtitle-style1">Price Plans</span></h2>
                            <div class="price-list-style1 bg-white py-60 px-60">
                                <div class="vs-price-list media">
                                    <div class="media-img mr-30">
                                        <a href="price.html"><img src="~/Content/assets/img/price/price-img-1-1.png" alt="Price Package Image"></a>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h3 class="price-title h4 mb-10"><a href="price.html">Personalized Massage</a></h3>
                                        <p class="mb-0">60 min <span class="inner-label">$100</span> / 90 min <span class="inner-label">$145</span></p>
                                    </div>
                                </div>
                                <div class="vs-price-list media">
                                    <div class="media-img mr-30">
                                        <a href="price.html"><img src="~/Content/assets/img/price/price-img-1-2.png" alt="Price Package Image"></a>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h3 class="price-title h4 mb-10"><a href="price.html">Couples Massage</a></h3>
                                        <p class="mb-0">60 min <span class="inner-label">$100</span> / 90 min <span class="inner-label">$145</span></p>
                                    </div>
                                </div>
                                <div class="vs-price-list media">
                                    <div class="media-img mr-30">
                                        <a href="price.html"><img src="~/Content/assets/img/price/price-img-1-3.png" alt="Price Package Image"></a>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h3 class="price-title h4 mb-10"><a href="price.html">Hot Stone Massage</a></h3>
                                        <p class="mb-0">60 min <span class="inner-label">$100</span> / 90 min <span class="inner-label">$145</span></p>
                                    </div>
                                </div>
                                <div class="vs-price-list media">
                                    <div class="media-img mr-30">
                                        <a href="price.html"><img src="~/Content/assets/img/price/price-img-1-4.png" alt="Price Package Image"></a>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h3 class="price-title h4 mb-10"><a href="price.html">Pure Full Body Massage</a></h3>
                                        <p class="mb-0">60 min <span class="inner-label">$100</span> / 90 min <span class="inner-label">$145</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================
          Testimonial Area
        ==============================-->
            <section class="vs-testimonial-wrapper vs-testimonial-layout1 space-top space-md-bottom">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <span class="quote-icon-style1 fa-4x"><i class="flaticon-quote-1"></i></span>
                        </div>
                        <div class="col-xl-10 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="testimonial-content-area text-center vs-carousel" id="testi-content" data-fade="true" data-asnavfor="#testi-author-name, #testi-author" data-slidetoshow="1">
                                <div class="testimonial-content px-xl-5">
                                    <h2>The evening has been fantastic great food & good entertainment nothing short.</h2>
                                    <p class="text-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                                <div class="testimonial-content px-xl-5">
                                    <h2>The night was so exicted with full of satisfication with a good service and food.</h2>
                                    <p class="text-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                                <div class="testimonial-content px-xl-5">
                                    <h2>A great start of the day with a Wonderful massage. Full day enjoyed a great freshness.</h2>
                                    <p class="text-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                                <div class="testimonial-content px-xl-5">
                                    <h2>The night was so exicted with full of satisfication with a good service and food.</h2>
                                    <p class="text-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="testimonial-border-line">
                                <div class="border-css"></div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="testimonial-avater-style1 vs-carousel" id="testi-author" data-asnavfor="#testi-author-name, #testi-content" data-slidetoshow="3" data-centermode="true" data-variablewidth="true" data-xlcentermode="true" data-mlcentermode="true" data-lgcentermode="true" data-mdcentermode="true" data-smcentermode="true" data-xscentermode="true">
                                <div class="author-img">
                                    <img src="~/Content/assets/img/testimonial/testil-author-1-1.png" alt="Author Image" class="w-100">
                                </div>
                                <div class="author-img">
                                    <img src="~/Content/assets/img/testimonial/testil-author-1-2.png" alt="Author Image" class="w-100">
                                </div>
                                <div class="author-img">
                                    <img src="~/Content/assets/img/testimonial/testil-author-1-3.png" alt="Author Image" class="w-100">
                                </div>
                                <div class="author-img">
                                    <img src="~/Content/assets/img/testimonial/testil-author-1-4.png" alt="Author Image" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="testimonial-author-style1 mb-25 vs-carousel text-center" id="testi-author-name" data-fade="true" data-asnavfor="#testi-content, #testi-author" data-slidetoshow="1">
                                <div class="author-content">
                                    <h3 class="h4 mb-0">Minas Morola D.</h3>
                                    <span class="mb-0 text-bold text-theme">Founder</span>
                                </div>
                                <div class="author-content">
                                    <h3 class="h4 mb-0">Jen L. Marto</h3>
                                    <span class="mb-0 text-bold text-theme">Founder</span>
                                </div>
                                <div class="author-content">
                                    <h3 class="h4 mb-0">Lomote F. Kerla</h3>
                                    <span class="mb-0 text-bold text-theme">Founder</span>
                                </div>
                                <div class="author-content">
                                    <h3 class="h4 mb-0">Rosalina D. William</h3>
                                    <span class="mb-0 text-bold text-theme">Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================
            Blog Area
        ==============================-->
            <section class="vs-blog-wrapper vs-blog-layout1 link-inherit bg-light-theme space-top space-md-bottom" id="blog">
                <div class="container">
                    <div class="row text-center justify-content-center">
                        <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="section-title ">
                                <span class="sec-bg-icon1 ani-moving-x"><i class="flaticon-glider-butterfly"></i></span>
                                <h2 class="sec-title-style1">Blog Update<span class="sec-subtitle-style1">News Feeds</span></h2>
                                <p class="sec-text-style1">
                                    Access to our fitness centre and pool is free to all our hotel guests. For
                                    non-guests membership packages are available.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row vs-carousel wow fadeInUp" data-wow-delay="0.3s" data-slidetoshow="3" data-mdslidetoshow="2" data-smslidetoshow="1" data-xsslidetoshow="1">
                        <div class="col-lg-4">
                            <div class="vs-blog">
                                <div class="blog-image image-scale-hover">
                                    <a href="blog-details.html"><img src="~/Content/assets/img/blog/blog-img-1-1.jpg" alt="Blog Image" class="w-100"></a>
                                </div>
                                <div class="blog-content bg-white">
                                    <div class="blog-meta">
                                        <a href="blog-details.html"><i class="fal fa-calendar-alt"></i>14th March 2020</a>
                                        <a href="blog-details.html"><i class="fal fa-user"></i>By Admin</a>
                                    </div>
                                    <h3 class="blog-title h4 mb-10"><a href="blog-details.html">We also offer outside catering; take-away</a></h3>
                                    <p>We also offer outside catering; take away lunch boxes, dinner or snack boxes and private parties.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="vs-blog">
                                <div class="blog-image image-scale-hover">
                                    <a href="blog-details.html"><img src="~/Content/assets/img/blog/blog-img-1-2.jpg" alt="Blog Image" class="w-100"></a>
                                </div>
                                <div class="blog-content bg-white">
                                    <div class="blog-meta">
                                        <a href="blog-details.html"><i class="fal fa-calendar-alt"></i>16th March 2020</a>
                                        <a href="blog-details.html"><i class="fal fa-user"></i>By Founder</a>
                                    </div>
                                    <h3 class="blog-title h4 mb-10"><a href="blog-details.html">We giving special service for vip.</a></h3>
                                    <p>We also offer outside catering; take away lunch boxes, dinner or snack boxes and private parties.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="vs-blog">
                                <div class="blog-image image-scale-hover">
                                    <a href="blog-details.html"><img src="~/Content/assets/img/blog/blog-img-1-3.jpg" alt="Blog Image" class="w-100"></a>
                                </div>
                                <div class="blog-content bg-white">
                                    <div class="blog-meta">
                                        <a href="blog-details.html"><i class="fal fa-calendar-alt"></i>22th April 2020</a>
                                        <a href="blog-details.html"><i class="fal fa-user"></i>By Admin</a>
                                    </div>
                                    <h3 class="blog-title h4 mb-10"><a href="blog-details.html">We giving special service for vip.</a></h3>
                                    <p>We also offer outside catering; take away lunch boxes, dinner or snack boxes and private parties.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="vs-blog">
                                <div class="blog-image image-scale-hover">
                                    <a href="blog-details.html"><img src="~/Content/assets/img/blog/blog-img-1-4.jpg" alt="Blog Image" class="w-100"></a>
                                </div>
                                <div class="blog-content bg-white">
                                    <div class="blog-meta">
                                        <a href="blog-details.html"><i class="fal fa-calendar-alt"></i>05th May 2020</a>
                                        <a href="blog-details.html"><i class="fal fa-user"></i>By User</a>
                                    </div>
                                    <h3 class="blog-title h4 mb-10"><a href="blog-details.html">The house of care famous Spa Service.</a></h3>
                                    <p>We also offer outside catering; take away lunch boxes, dinner or snack boxes and private parties.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================
        Call To Action Area
        ==============================-->
            <section class="vs-cta-wrapper vs-cta-layout1 background-image space-md" data-vs-img="../Content/assets/img/cta/cta-img-1-1.jpg" data-overlay="body" data-opacity="6" id="cta">
                <div class="container">
                    <div class="row justify-content-center my-lg-0 my-30">
                        <div class="col-xl-8 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="cta-content text-center link-inherit">
                                <div class="cta-thumb mb-2 mb-lg-4">
                                    <img src="~/Content/assets/img/logo-mini-thumb.png" alt="Mixlax - Spa Beauty Salon HTML Template">
                                </div>
                                <p class="text-white text-md">Don’t hassitate <a href="contact.html" class="text-underline text-bold"><u>Contact With</u></a> us any time</p>
                                <h2 class="sec-title-style1 mb-3 mb-lg-4 text-white">Get A Free Quote</h2>
                                <div class="vs-btn-group">
                                    <a href="contact.html" class="vs-btn wave-style1 mb-3 mb-sm-0 mr-sm-4 shadow-none">Appointment<i class="far fa-arrow-right"></i></a>
                                    <a href="tel:012345678910" class="vs-btn outline-style2 shadow-none"><i class="fal fa-phone-alt"></i>Make a Call</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>