@model IEnumerable<Eco_Porte.Models.Produit>


<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit space mx-100" data-vs-img="../Content/assets/img/breadcumb/breadcumb-bg-1-1.jpg" data-overlay="black" data-opacity="3">
    <div class="container z-index-common py-10">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title sec-title-style1 text-white mt-0 mb-2">Chambre</h1>
            <ul class="breadcumb-menu-style1 text-white">
                <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                <li class="active">Portfolio</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
    gallery Area
    ==============================-->
@if (ViewBag.id=="cat1")
{
    <div class="vs-gallery-wrapper vs-gallery-layout1 space">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/products/chambre/14.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/products/chambre/2.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/products/chambre/6.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="vs-gallery-img image-scale-hover">
                            <a href="gallery-details.html"><img src="~/Content/assets/img/products/chambre/13.jpg" alt="gallery Image" class="w-100"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="vs-gallery-img image-scale-hover">
                            <a href="gallery-details.html"><img src="~/Content/assets/img/products/chambre/3.jpg" alt="gallery Image" class="w-100"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="vs-gallery-img image-scale-hover">
                            <a href="gallery-details.html"><img src="~/Content/assets/img/products/chambre/9.jpg" alt="gallery Image" class="w-100"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/products/chambre/12.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/products/chambre/11.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center pt-lg-4">
                    <a href="#" class="vs-btn wave-style2">Load More<i class="far fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
}
else { 
    <div class="vs-gallery-wrapper vs-gallery-layout1 space">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/gallery/gallery-3-1.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/gallery/gallery-3-2.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/gallery/gallery-3-4.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="vs-gallery-img image-scale-hover">
                            <a href="gallery-details.html"><img src="~/Content/assets/img/gallery/gallery-3-3.jpg" alt="gallery Image" class="w-100"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="vs-gallery-img image-scale-hover">
                            <a href="gallery-details.html"><img src="~/Content/assets/img/gallery/gallery-3-5.jpg" alt="gallery Image" class="w-100"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="vs-gallery-img image-scale-hover">
                            <a href="gallery-details.html"><img src="~/Content/assets/img/gallery/gallery-3-6.jpg" alt="gallery Image" class="w-100"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/gallery/gallery-3-7.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="vs-gallery mb-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="vs-gallery-img image-scale-hover">
                                    <a href="gallery-details.html"><img src="~/Content/assets/img/gallery/gallery-3-8.jpg" alt="gallery Image" class="w-100"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center pt-lg-4">
                    <a href="#" class="vs-btn wave-style2">Load More<i class="far fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>


}

