<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit space mx-100" data-vs-img="../Content/assets/img/products/service.jpg" data-overlay="black" data-opacity="3">
    <div class="container z-index-common py-10">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title sec-title-style1 text-white mt-0 mb-2">Our Treatments</h1>
            <ul class="breadcumb-menu-style1 text-white">
                <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>

<!--==============================
       Service Area
   ==============================-->
<section class="vs-service-wrapper vs-service-layout1 space-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-spa"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-stones"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Sports Massage</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-stones-1"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-mortar"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Hot Stone Massage</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-facial-treatment"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-teapot"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Facial & Therophy</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-cosmetics"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-lotus"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Parlar & Beauty</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-beauty-treatment"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-cosmetics-1"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Eye & Shadow</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-wax"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-essential"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Waxing</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-spa-1"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-beauty-treatment"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Relaxation room</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-stones"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-shower"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Eye & Shadow</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<section>

    <div class=" pt-60 border-top border-light-theme">
        <div class="row">
            <div class="col-md-6 mb-30 mb-md-0">
                <img src="~/Content/assets/img/products/8F7A9411.jpg" alt="Gallrey Image" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/Content/assets/img/products/8F7A9409.jpg" alt="Gallrey Image" class="w-100">
            </div>
            
        </div>
                        </div>

                        <!-- Post Pagination -->
                        <div class="pagination-wrapper pagination-layout2 p-2 p-lg-4 link-inherit mt-60 mb-30">
                            <div class="row justify-content-between ">
                                <div class="col-4">
                                    <div class="pagination-content">
                                        <h4 class="pagi-title mb-0"><a href="gallery-details.html">Prev Project</a></h4>
                                        <span>Relaxation & Body Massage</span>
                                    </div>
                                </div>
                                <div class="col-3 text-center align-self-center">
                                    <a href="gallery-details.html" class="icon-btn bg-theme"><i class="far fa-bars"></i></a>
                                </div>
                                <div class="col-4">
                                    <div class="pagination-content text-right">
                                        <h4 class="pagi-title mb-0"><a href="gallery-details.html">Next Project</a></h4>
                                        <span>Hair Style & Color</span>
                                    </div>
                                </div>
                            </div>
                        </div>
</section>



