<div class="container body-content">
    <!--==============================
        Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit space mx-100" data-vs-img="../Content/assets/img/products/8F7A9345.jpg" style="        box-shadow: inset 0 0 0 1989px rgb(249, 163, 146, 0.15);" data-opacity="3">
        <div class="container z-index-common py-10">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title sec-title-style1 text-white mt-0 mb-2">Our Treatments</h1>
                <ul class="breadcumb-menu-style1 text-white">
                    <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                    <li class="active">Services</li>
                </ul>
            </div>
        </div>
    </div>

    <!--==============================
           Service Area
       ==============================-->
    <section class="vs-service-wrapper vs-service-layout1 space-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="vs-service">
                        <div class="service-icon">
                            <span class="icon text-theme bg-white"><i class="fa-3x flaticon-spa"></i></span>
                            <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-stones"></i></span>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h4"><a href="service-details.html">Sports Massage</a></h3>
                            <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vs-service">
                        <div class="service-icon">
                            <span class="icon text-theme bg-white"><i class="fa-3x flaticon-stones-1"></i></span>
                            <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-mortar"></i></span>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h4"><a href="service-details.html">Hot Stone Massage</a></h3>
                            <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vs-service">
                        <div class="service-icon">
                            <span class="icon text-theme bg-white"><i class="fa-3x flaticon-facial-treatment"></i></span>
                            <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-teapot"></i></span>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h4"><a href="service-details.html">Facial & Therophy</a></h3>
                            <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vs-service">
                        <div class="service-icon">
                            <span class="icon text-theme bg-white"><i class="fa-3x flaticon-cosmetics"></i></span>
                            <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-lotus"></i></span>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h4"><a href="service-details.html">Parlar & Beauty</a></h3>
                            <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="vs-service">
                        <div class="service-icon">
                            <span class="icon text-theme bg-white"><i class="fa-3x flaticon-beauty-treatment"></i></span>
                            <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-cosmetics-1"></i></span>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h4"><a href="service-details.html">Eye & Shadow</a></h3>
                            <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="vs-service">
                        <div class="service-icon">
                            <span class="icon text-theme bg-white"><i class="fa-3x flaticon-wax"></i></span>
                            <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-essential"></i></span>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h4"><a href="service-details.html">Waxing</a></h3>
                            <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="vs-service">
                        <div class="service-icon">
                            <span class="icon text-theme bg-white"><i class="fa-3x flaticon-spa-1"></i></span>
                            <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-beauty-treatment"></i></span>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h4"><a href="service-details.html">Relaxation room</a></h3>
                            <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="vs-service">
                        <div class="service-icon">
                            <span class="icon text-theme bg-white"><i class="fa-3x flaticon-stones"></i></span>
                            <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-shower"></i></span>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h4"><a href="service-details.html">Eye & Shadow</a></h3>
                            <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section>

        <div class=" pt-60 border-top border-light-theme">
            <div class="row">
                <div class="col-md-6 mb-30 mb-md-0">
                    <img style="cursor:grab" src="~/Content/assets/img/products/8F7A9411.jpg" alt="Gallrey Image" class="w-100 categorie" id="cat1">
                </div>
                <div class="col-md-6">
                    <img style="cursor:grab" src="~/Content/assets/img/products/8F7A9409.jpg" alt="Gallrey Image" class="w-100 categorie" id="cat2">
                </div>

            </div>
        </div>


    </section>

</div>


<script type="text/javascript">
   $(document).ready(function(){
    window.location.href = "/Home/About"
    });
    </script>