<script>
    function moveproducts (id){
     window.location.href = "/Home/Products/"+id;
    }
</script>

<style>
    .categorie:hover{
        opacity:0.5;
    }
</style>

<div class="container body-content">
    <!--==============================
        Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit space mx-100" data-vs-img="../Content/assets/img/products/servicesbread.jpg" style="        box-shadow: inset 0 0 0 1989px rgb(249, 163, 146, 0.15);" data-opacity="3">
        <div class="container z-index-common py-10">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title sec-title-style1 text-white mt-0 mb-2">Our Treatments</h1>
                <ul class="breadcumb-menu-style1 text-white">
                    <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                    <li class="active">Services</li>
                </ul>
            </div>
        </div>
    </div>

 
    <section>

        <div class=" pt-60 border-top border-light-theme">
            <div class="row">
                <div class="offer-banner-style2 col-md-6 mb-30 mb-md-0">
                    <div class="banner-image">
                        <img onclick="moveproducts(this.id)" style="cursor:grab" src="~/Content/assets/img/products/chamber.jpg" alt="Gallrey Image" class="w-100 categorie" id="cat1">
                      </div>
                        <div class="banner-content">

                            <h3 class="banner-title h2" style="color:black">Chamber</h3>
                            
                        </div>
                    </div>
                <div class="col-md-6">
                    <div class="banner-image">
                        <img onclick="moveproducts(this.id)" style="cursor:grab" src="~/Content/assets/img/products/spa.jpg" alt="Gallrey Image" class="w-100 categorie" id="cat2">
                   
                    </div>

                </div>
        </div>


    </section>

</div>

