<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper breadcumb-layout1 background-image link-inherit space mx-100" data-vs-img="../Content/assets/img/breadcumb/breadcumb-bg-1-1.jpg" data-overlay="black" data-opacity="3">
    <div class="container z-index-common py-10">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title sec-title-style1 text-white mt-0 mb-2">Our Treatments</h1>
            <ul class="breadcumb-menu-style1 text-white">
                <li><a href="index.html"><i class="fal fa-home text-theme"></i>Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>

<!--==============================
       Service Area
   ==============================-->
<section class="vs-service-wrapper vs-service-layout1 space-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-spa"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-stones"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Sports Massage</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-stones-1"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-mortar"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Hot Stone Massage</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-facial-treatment"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-teapot"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Facial & Therophy</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-cosmetics"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-lotus"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Parlar & Beauty</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-beauty-treatment"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-cosmetics-1"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Eye & Shadow</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-wax"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-essential"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Waxing</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-spa-1"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-beauty-treatment"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Relaxation room</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="vs-service">
                    <div class="service-icon">
                        <span class="icon text-theme bg-white"><i class="fa-3x flaticon-stones"></i></span>
                        <span class="bg-icon ani-moving icon-6x text-theme"><i class="flaticon-shower"></i></span>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title h4"><a href="service-details.html">Eye & Shadow</a></h3>
                        <p>Experience a metamorphosis from tension to tranquility Massage, facials, salon</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!--==============================
  Price Plan
==============================-->
<section class="vs-pricing-wrapper bg-auto bg-top vs-pricing-layout1 background-image space-md-top" data-vs-img="../Content/assets/img/price/price-bg-1-1.jpg" id="price">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-md-10 col-lg-7 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                <p class="mb-30">Your <span class="inner-label">-50% Offer</span> is Right Here</p>
                <h2 class="sec-title-style1 mb-40">Get Inspiration <span class="sec-subtitle-style1">Price Plans</span></h2>
                <div class="price-list-style1 bg-white py-60 px-60">
                    <div class="vs-price-list media">
                        <div class="media-img mr-30">
                            <a href="price.html"><img src="~/Content/assets/img/price/price-img-1-1.png" alt="Price Package Image"></a>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="price-title h4 mb-10"><a href="price.html">Personalized Massage</a></h3>
                            <p class="mb-0">60 min <span class="inner-label">$100</span> / 90 min <span class="inner-label">$145</span></p>
                        </div>
                    </div>
                    <div class="vs-price-list media">
                        <div class="media-img mr-30">
                            <a href="price.html"><img src="~/Content/assets/img/price/price-img-1-2.png" alt="Price Package Image"></a>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="price-title h4 mb-10"><a href="price.html">Couples Massage</a></h3>
                            <p class="mb-0">60 min <span class="inner-label">$100</span> / 90 min <span class="inner-label">$145</span></p>
                        </div>
                    </div>
                    <div class="vs-price-list media">
                        <div class="media-img mr-30">
                            <a href="price.html"><img src="~/Content/assets/img/price/price-img-1-3.png" alt="Price Package Image"></a>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="price-title h4 mb-10"><a href="price.html">Hot Stone Massage</a></h3>
                            <p class="mb-0">60 min <span class="inner-label">$100</span> / 90 min <span class="inner-label">$145</span></p>
                        </div>
                    </div>
                    <div class="vs-price-list media">
                        <div class="media-img mr-30">
                            <a href="price.html"><img src="~/Content/assets/img/price/price-img-1-4.png" alt="Price Package Image"></a>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="price-title h4 mb-10"><a href="price.html">Pure Full Body Massage</a></h3>
                            <p class="mb-0">60 min <span class="inner-label">$100</span> / 90 min <span class="inner-label">$145</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==============================
Call To Action Area
==============================-->
<section class="vs-cta-wrapper vs-cta-layout1 space">
    <div class="container">
        <div class="row justify-content-center my-lg-0 my-30">
            <div class="col-xl-8  wow fadeInUp" data-wow-delay="0.3s">
                <div class="cta-content text-center link-inherit">
                    <div class="cta-thumb mb-2 mb-lg-4">
                        <img src="~/Content/assets/img/logo-mini-thumb.png" alt="Mixlax - Spa Beauty Salon HTML Template">
                    </div>
                    <p class=" text-md">Don’t hassitate <a href="contact.html" class="text-underline text-bold"><u>Contact With</u></a> us any time</p>
                    <h2 class="sec-title-style1 mb-3 mb-lg-4 ">Get A Free Quote</h2>
                    <div class="vs-btn-group">
                        <a href="contact.html" class="vs-btn wave-style1 mb-3 mb-sm-0 mr-sm-4 ">Appointment<i class="far fa-arrow-right"></i></a>
                        <a href="tel:012345678910" class="vs-btn outline-style1"><i class="fal fa-phone-alt"></i>Make a Call</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="counter-area d-lg-flex justify-content-lg-between">
            <div class="counter-box2  wow fadeInUp" data-wow-delay="0.3s">
                <div class="conter-content">
                    <p class="counter-number mb-0 text-font2"><span class="counter">25</span></p>
                    <p class="counter-text mb-0">Yr Experience</p>
                </div>
            </div>
            <div class="counter-box2  wow fadeInUp" data-wow-delay="0.4s">
                <div class="conter-content">
                    <p class="counter-number mb-0 text-font2"><span class="counter">1</span>k</p>
                    <p class="counter-text mb-0">Active Clients</p>
                </div>
            </div>
            <div class="counter-box2  wow fadeInUp" data-wow-delay="0.5s">
                <div class="conter-content">
                    <p class="counter-number mb-0 text-font2"><span class="counter">25</span></p>
                    <p class="counter-text mb-0">Cup Coffee</p>
                </div>
            </div>
            <div class="counter-box2  wow fadeInUp" data-wow-delay="0.4s">
                <div class="conter-content">
                    <p class="counter-number mb-0 text-font2"><span class="counter">10</span></p>
                    <p class="counter-text mb-0">Item Uses</p>
                </div>
            </div>
            <div class="counter-box2  wow fadeInUp" data-wow-delay="0.5s">
                <div class="conter-content">
                    <p class="counter-number mb-0 text-font2"><span class="counter">50</span></p>
                    <p class="counter-text mb-0">Core Service</p>
                </div>
            </div>
        </div>


    </div>
</section>
<!--==============================
Subscribe Area
============================== -->
<section class="vs-subscribe-wrapper vs-subscribe-layout1 position-relative bg-light-theme space-md">
    <div class="shape1 position-absolute ani-moving-y"><img src="~/Content/assets/img/shape/leaf-icon-1.png" alt="Shape BG"></div>
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start align-items-center py-20 py-lg-0 text-center text-lg-left">
            <div class="col-md-10 col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="form-title mb-30 mb-lg-0">
                    <h2 class="sec-title-style1">Get Newsletter <span class="sec-subtitle-style1">Get Connect</span></h2>
                    <p class="sec-text-style1 mb-0">Access to our fitness centre and pool is free to all our hotel guests. For non-guests membership packages are available.</p>
                </div>
            </div>
            <div class="col-lg-6  wow fadeInUp" data-wow-delay="0.4s">
                <form action="#" class="subscribe-form-style1 ml-xl-4 d-sm-flex bg-white p-2">
                    <input type="email" placeholder="Enter your email address" class="form-control">
                    <button type="submit" class="vs-btn vs-style1">Subscribe Now</button>
                </form>
            </div>
        </div>
    </div>
</section>

